#red{
     color: red;}
#blue{ 
    color: blue; 
    /* color:#290bd8;
    color: rgb(11, 11, 228)
    color: hsl(235, 67, 83) */
}
#orange{ 
    color: orange;
}
#green{ 
    color: green;
}
#yellow{ 
    color: yellow;
}

#h2{ 
    font-weight: normal;
}
img{ 
    height: 200px; 
    width: 200px;
}