
h2{
 color: aqua;
 background-color: darkblue;
    }
body {
    background-color: burlywood;
    }

   /*pristup preko ID-a*/

#prvi {
       color: blue;
        }

    /*pristup preko klase*/
.drugi { color: brown
        }